<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Add Password</title>
</head>
<body>
<p>Enter a password into the field below. It is recommended that your password contains at least one uppercase letter,
   at least one number, and at least one special character</p>
<form action="/addPassword.java" method="post">
	Url of website: <input type="text" name="Url" placeholder="Url of website"> <br>
	Password: <input type="text" name="Password" placeholder="Enter Password"> <br>
	Retype Password: <input type="text" name="Url" placeholder="Retype Password"> <br>
	Security Question: <select>
							<option value="Mother">What is your mother's maiden name?</option>
							<option value="City">What city were you born in?</option>
							<option value="Pet">What is the name of your 1st pet?</option>					
					   </select>
                       <br> <br>
	<input type="submit" value="Save Password">
	<button>Cancel</button>
</form>
</body>
</html>