<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8"/>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="stylesheet" href="/styles/main-styles.css">
		<title>QuickPass</title>
	</head>
	<body>
		<header>
			<h1>QuickPass</h1>
		</header>
		<div id="loginContainer">
			<div id="loginHeader">
				<!--<img id="avatar" src="" alt="The user's avatar"/>-->
			</div>
			<div id="loginContent">	
				<div id="loginDesc">
					<p>Enter your username and password</p>
				</div>
				<form id="loginFields">
					<label for="username">Username:</label>
					<input type="text" id="username" name="username" autofocus required/><br/>
					<label for="password">Password:</label>
					<input type="password" id="password" name="password" required/><br/>
					<input type="submit" value="Login" formtarget="post"><br/>
					<input type="button" value="Cancel">
				</form>
			</div>
		</div>
	</body>
</html>
