body {
	background-color: blue; 
}

h1 {
	color: red; 
	font-family: Verdana; 
	font-size 300%; 
	
}


p {
	font-color: blue;                                                                                                               

header {

	position: center; 

}

<--This is my third commit and push --> 